<div class="card card-body p-4 rounded-10 bg-warning">
  <h3>Añadir tareas</h3>
  <form action="/tasks/add" method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Nombre de la tarea:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="añade un titulo..."
        name="title"
        required
        autofocus
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <textarea
        class="form-control"
        id="description"
        cols="80"
        name="description"
        placeholder="añade una descripción..."
      ></textarea>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="tipo"
        id="individual"
        value="1"
        checked
      />
      <label class="form-check-label" for="flexRadioDefault1">
        Individual
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="tipo"
        id="equipo"
        value="0"
      />
      <label class="form-check-label" for="flexRadioDefault2">
        Equipo
      </label>
    </div>

    <button type="submit" class="btn btn-primary">Añadir</button>

  </form>
</div>